@model IEnumerable<HotelManager.Data.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdultPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdultPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildPrice)
                </td>
                @if (this.User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
