@model IndexReviewsUserViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Barber name
            </th>
            <th>
                Rating
            </th>
            <th>
                Rating text
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserReviews)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BarberName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewText)
                </td>
                <td>
                    <a  asp-action="Edit" asp-route-id="@item.ReviewId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReviewId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReviewId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PagingPartial" />
