@model IndexUsersViewModel

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Create New</a>
</p>
<div class="container">
    <div class="row">
        <partial name="_ItemsPerPagePartial" class="col-sm-1" />
        <div class="dropdown col-sm-1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by name @Model.Sort.ToLower()
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" asp-action="@Model.Action" asp-route-order="Asc">Asc</a></li>
                <li><a class="dropdown-item" asp-action="@Model.Action" asp-route-order="Desc">Desc</a></li>
            </ul>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.First().Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagingPartial" />