@using RestaurantRating.Common
@model IndexRestaurantsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Restaurants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="data:image/png;base64,@Html.DisplayFor(modelItem => item.Image)" height="100" width="250">
                </td>
                <td>
                   @if (User.IsInRole(GlobalConstants.UserRole))
                    {
                        <a asp-action="Review" asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-star"></i></a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fa-solid fa-circle-info"></i></a> 
                    @if (User.IsInRole(GlobalConstants.AdminRole))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagingPartial" />