@using Pizza.Data.Models.Enums;
@model Pizza.ViewModels.Order.OrderViewModel;

<h1>Order pizza</h1>

<form method="post">
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" />
    </div>
    <div class=" form-group">
        <label asp-for="PizzaId"></label>
        <select asp-for="PizzaId" asp-items="Model.AppPizzas" class="form-control"></select>
        <span asp-validation-for="PizzaId" class="text-danger"></span>
    </div>
    <div>
        <p>Pizza size: </p>
        @foreach (var c in System.Enum.GetValues(typeof(Size)).OfType<Size>())
        {
            <label asp-for="Size">@c</label>
            <input type="radio" asp-for="Size" value="@((int)c)" checked="@(c == Model?.Size)" />
        }
    </div>
    <div>
        <p>Payment type: </p>
        @foreach (var c in System.Enum.GetValues(typeof(PaymentType)).OfType<PaymentType>())
        {
            <label asp-for="Size">@c</label>
            <input type="radio" asp-for="PaymentType" value="@((int)c)" checked="@(c == Model?.PaymentType)" />
        }
    </div>
    <input class="btn btn-primary" type="submit" />
</form>