@model ProjectManagement.ViewModels.Users.CreateVM
@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "CREATE USERS";
}

<fieldset>
    <legend>CREATE USER</legend>
    <form action="/Users/Create" method="post">
        <div class="grid">
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Username)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.Username)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="col-2">
                   <input name="password" type="password" />
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.FirstName)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.FirstName)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.LastName)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.LastName)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <input type="submit" class="right" value="Save" />
                    <a href="/Users/Index" class="right">Back</a>
                </div>
            </div>
        </div>
    </form>
</fieldset>