@model HotelManager.ViewModels.Users.DetailsUserViewModel

<h1>User Details</h1>
<div class="col-lg-8">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <label class="mb-0" asp-for="FirstName"></label>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.FirstName</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <label class="mb-0" asp-for="MiddleName"></label>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.MiddleName</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <label class="mb-0" asp-for="LastName"></label>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.LastName</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <label class="mb-0" asp-for="Email"></label>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.Email</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <label class="mb-0" asp-for="DateOfIssue"></label>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.DateOfIssue</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <label class="mb-0" asp-for="EndDate"></label>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.EndDate</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <label class="mb-0" asp-for="IsActive"></label>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.IsActive</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-dark"  asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a class="btn btn-dark"  asp-action="Index">Back to List</a>
    </div>
</div>

