@using HotelManager.ViewModels.Users
@model IndexUsersViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New <i class="fas fa-plus-circle"></i></a>
</p>
<form method="post">
    <div class="input-group">

        <span class="input-group-text">First name</span>
        <input type="text" asp-for="Filter.FirstName" class="form-control">
        <span class="input-group-text">Last name</span>
        <input type="text" asp-for="Filter.LastName" class="form-control">
        <button type="submit" class="btn btn-primary" asp-controller="Users" asp-action="Index">Search</button>
    </div>
    <hr />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagingPartial" model="@Model" />