@model IndexEventsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
 <form asp-controller="Events" asp-action="Index" method="post">
        <label>Place: </label>
        <input type="text" name="place" value="@Model.PlaceFilter" />
        <input type="submit" />
 </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Place</th>
            <th>Start  </th>
            <th>End</th>
            <th>Tickets</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tickets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-controller="Orders" asp-action="Create" asp-route-eventId="@item.Id"><i class="fa-solid fa-cart-shopping"></i></a>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action = "Details" asp-route-id = "@item.Id" ><i class="fa-solid fa-circle-info"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash-can"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PagingPartial" />