@model RealEstates.ViewModels.SearchPropertiesViewModel;

<h1>Търсене по цена</h1>
<form action="SearchByPrice" method="get">
    <div class="form-group">
        <label>Минимална цена</label>
        <input name="minPrice" type="text">
        <label>Максимална цена</label>
        <input name="maxPrice" type="text">
        <button type="submit" class="btn btn-primary">Търси</button>
    </div>
</form>

@if (Model != null)
{
    <h3>Филтър: минимална цена: @Model.MinPrice, максимална цена: @Model.MaxPrice</h3>
    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr>
                <th>Цена</th>
                <th>Площ</th>
                <th>Етажи</th>
                <th>Местоположение</th>
                <th>Тагове</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Properties)
            {
                <tr>
                    <th>@item.Price</th>
                    <th>@item.Size</th>
                    <th>@item.Floor</th>
                    <th>@item.District</th>
                    <th>@string.Join(", ", item.Tags)</th>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="..." class="">
        <ul class="pagination  justify-content-center ">
            <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
                @{
                    var previousPage = new Dictionary<string, string>
                                {
                        { "minPrice", Model.MinPrice.ToString() },
                        { "maxPrice", Model.MaxPrice.ToString() },
                        { "page", Model.PreviousPageNumber.ToString() }
            };
                }
                <a class="page-link" asp-action="SearchByPrice" asp-all-route-data="previousPage">
                    <i class="fas fa-caret-left"></i>

                </a>
            </li>
            @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item disabled"><a class="page-link" asp-action="SearchByPrice" asp-route-page="@i">@i</a></li>
                }
            }
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    @Model.PageNumber
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 2; i++)
            {
                if (i <= Model.PagesCount)
                {
                    <li class="page-item disabled"><a class="page-link" asp-action="SearchByPrice" asp-route-page="@i">@i</a></li>
                }
            }
            <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
                @{
                    var nextPage = new Dictionary<string, string>
                            {
                        { "minPrice", Model.MinPrice.ToString() },
                        { "maxPrice", Model.MaxPrice.ToString() },
                        { "page", Model.NextPageNumber.ToString() }
            };
                }

                <a class="page-link" asp-action="SearchByPrice" asp-all-route-data="nextPage" method="post"> <i class="fas fa-caret-right"></i></a>
            </li>
        </ul>
    </nav>
}

